<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <a class="navbar-brand" style="color:white">Book Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="color:white" routerLink="./books-list">Show Book </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white" routerLink="./add-book">Add Book </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color:white" href="#">Pricing</a>
        </li>
      </ul>
      <span class="navbar-text text bold" style="color:white">
       Development of Book Store
      </span>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"> Book Store </h1>
      <p class="lead">Books for the curious, the adventurous, and everyone in-between. <br>
        Books make you smart, books bring you knowledge.</p>
    </div>
  </div>

<router-outlet></router-outlet>
<!-- <app-add-book></app-add-book> -->
